.gallery {
  text-align: center;
}

.gallery_title {
  font-size: 30px;
  margin-top: 20px;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
  color: #fff;
}

.gallery p {
  font-size: 16px;
  margin-bottom: 50px;
  color: gold;
}
/* bouton retour page d'accueil */
.back-home-button {
  position: fixed;
  top: 20px;
  left: 50px;
  background-color: gold;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.back-home-button:hover {
  background-color: black;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.gallery-card {
  width: 25%;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold, 0 0 40px gold;
}

.gallery-card:hover {
  transform: scale(1.05);
}
.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
/* Styles pour les mobiles (écran jusqu'à 480px) */
@media screen and (max-width: 480px) {
  .gallery_title {
    font-size: 20px;
  }
  .gallery p {
    font-size: 14px;
    margin-top: 30px;
  }
  .back-home-button {
    left: 14px;
  }
  .gallery-card {
    width: 70%;
  }
}
