.contact {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}
.phrase_contact {
  font-size: 16px;
  color: #daa520;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-fond {
  width: 40%;
}

/* Formulaire */
.form-container {
  padding-right: 166px;
  width: 30%;
  z-index: 1;
}

.form-container h1 {
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 5px #daa520, 0 0 10px #daa520, 0 0 20px #daa520,
    0 0 30px #daa520;
  text-align: center;
  font-size: 26px;
}

.form-container label {
  color: #daa520;
  font-size: 14px;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.form-container select {
  color: rgba(255, 255, 255, 0.3);
}
.form-container textarea {
  resize: none;
  height: 80px;
}

.form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #000;
  box-shadow: 0 0 10px #daa520, 0 0 20px #daa520, 0 0 30px #daa520,
    0 0 40px #daa520;
  color: #daa520;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  margin: 0 auto;
}

.form-container button:hover {
  background-color: #daa520;
  color: black;
}

/* Ajuster la superposition */
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.confirmation-message {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #daa520;
  color: white;
  border-radius: 5px;
}
.error-message {
  color: white;
}
/* Styles pour les tablettes (écran jusqu'à 768px) */
@media screen and (max-width: 768px) {
  .phrase_contact {
    font-size: 14px;
  }
  .contact-fond {
    width: 60%;
  }
  .form-container {
    padding: 20px 80px 0 0;
  }
  .form-container h1 {
    font-size: 20px;
  }
  .form-container label {
    font-size: 12px;
  }
  .form-container input,
  .form-container select,
  .form-container textarea {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 12px;
  }
  .form-container button {
    padding: 5px;
    font-size: 11px;
    margin-top: 5px;
  }
}
/* Styles pour les mobiles (écran jusqu'à 480px) */
@media screen and (max-width: 480px) {
  .phrase_contact {
    text-align: center;
    padding: 0 10px 0 10px;
  }
  .form-image-wrapper {
    display: flex;
    flex-direction: column;
  }
  .contact-fond {
    width: 100%;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-left: 65px;
  }
  .form-container h1 {
    font-size: 18px;
  }
}
